@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");

.about {
  color: white;
  background-color: black;
  font-family: "Major Mono Display", monospace;
  overflow: hidden;
}
.about > p {
  margin-bottom: 30vh;
  line-height: 2rem;
}
