@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");

.about {
  color: white;
  background-color: black;
  font-family: "Major Mono Display", monospace;
  overflow: hidden;
}
p {
  line-height: 2rem;
  padding-top: 10vh;
  padding-bottom: 10vh;
}
