.feedbacks {
  max-width: 1200px;
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.feedback {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid white;
}
.feed-name {
  grid-column: 1 / span 1;
  justify-self: center;
  padding: 1.2rem;
}
.feed-email {
  grid-column: 2 / span 2;
  justify-self: center;
  padding: 1.2rem;
}
.feed-message {
  grid-column: 4 / span 2;
  justify-self: center;
  padding: 1.2rem;
}
